.card {
    display: block;
    position: relative;
    background: #fff;
    border-radius: 2px;
    margin: 0 0 8px;
    padding: 16px;
    box-shadow: 0 1px 3px 0 rgba(33, 33, 33, .2), 0 1px 1px 0 rgba(33, 33, 33, .14), 0 2px 1px -1px rgba(33, 33, 33, .12);
}